{% comment %}

  This snippet provides the default handlebars.js templates for
  the ajaxify cart plugin. Use the raw liquid tags to keep the
  handlebar.js template tags as available hooks.

{% endcomment %}
  <script id="cartTemplate" type="text/template">
  {% raw %}
    <form action="/cart" method="post" class="cart-form" novalidate>
      <div class="ajaxifyCart--products">
        {% endraw %}<h2>{{ 'cart.general.title' | t }}</h2>{% raw %}
        {{#items}}
        <div class="ajaxifyCart--product">
          <div class="ajaxifyCart--row" data-line="{{line}}">
            <div class="grid">
              <div class="grid-item mobile-full large--two-thirds">
                <div class="grid">
                  <div class="grid-item one-quarter">
                    <a href="{{url}}" class="ajaxCart--product-image"><img src="{{img}}" alt=""></a>
                  </div>
                  <div class="grid-item one-quarter">
                    <a href="{{url}}" class="h4">{{name}}</a>
                    <p>{{variation}}</p>
                    {{#properties}}
                      {{#each this}}
                        {{#if this}}
                          <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                        {{/if}}
                      {{/each}}
                    {{/properties}}
                  </div>
                  <div class="grid-item one-half">
                    <p>
                      {{#if discountsApplied}}
                        <span class="visually-hidden">{% endraw %}{{ 'products.general.sale_price' | t }}{% raw %}</span>
                        <span class="ajaxcart__price onsale money">{{{discountedPrice}}}</span>
                        <span class="visually-hidden">{% endraw %}{{ 'products.general.regular_price' | t }}{% raw %}</span>
                        <del class="ajaxcart__price">{{{price}}}</del>
                      {{else}}
                        <span class="ajaxcart__price money">{{{price}}}</span>
                      {{/if}}
                    </p>

                    {{#if discountsApplied}}
                      {{#each discounts}}
                        <p class="onsale"><i class="fa fa-tag"></i> {{ this.discount_application.title }} (-{{{ this.formattedAmount }}})</p>
                      {{/each}}
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="grid-item mobile-full large--one-third">
                <div class="grid">
                  <div class="grid-item one-half">
                    <div class="ajaxifyCart--qty">
                      <input type="text" name="updates[]" class="ajaxifyCart--num" value="{{itemQty}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-line="{{line}}" data-qty="{{itemAdd}}">+</span>
                      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-line="{{line}}" data-qty="{{itemMinus}}">-</span>
                    </div>
                  </div>
                  <div class="grid-item one-half text-right">
                    <p>
                      <small><a href="/cart/change?line={{line}}&amp;quantity=0" class="ajaxifyCart--remove" data-line="{{line}}"><i class="fa fa-times" aria-hidden="true"></i></a></small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/items}}
      </div>
      <div class="cart-summary ajaxifyCart--row no_border text-right medium-down--text-center">

        {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
        <div class="spec-instructions">
        <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
        <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
        </div>
        {% endraw %}{% endif %}{% raw %}

        <div class="subtotal">
          <p class="title">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</p>
          <p class="subtotal-price"><span class="cart-original-total money">{{{subTotalPrice}}}</span></p>
        </div>
        <div class="discounts">
          {{#if cartDiscountsApplied}}
            <p>{% endraw %}{{ 'cart.general.discounts' | t }}{% raw %}</p>
            <ul>
             {{#each cartDiscounts}}
                <li><i class="fa fa-tag"></i> (-{{{ this.formattedAmount }}})</li>
             {{/each}}
            </ul>
           {{/if}}
           {{#if cartTotalSavings}}
             <div class="cart_savings onsale">
               <p><em>{% endraw %}{{ 'cart.general.savings' | t }}{% raw %}</em></p>
               <p class="cart-savings-amount"><em>{{cartTotalDiscounts}}</em></p>
             </div>
           {{/if}}
        </div>
        <div class="total">
          <h3 class="title">{% endraw %}{{ 'cart.general.total' | t }}{% raw %}</h3>
          <h3 class="total-price"><span class="cart-original-total money">{{totalPrice}}</span>
          <span class="cart-total"></span></h3>
        </div>
        <input type="submit" class="{{btnClass}}" name="checkout" value="{% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}">
      </div>
    </form>
  {% endraw %}
  </script>
  <script id="modalTemplate" type="text/template">
  {% raw %}
    <div id="ajaxifyModal" class="ajaxify-modal">
      <div id="ajaxifyCart" class="ajaxifyCart--content"></div>
    </div>
  {% endraw %}
  </script>
  <script id="ajaxifyQty" type="text/template">
  {% raw %}
    <div class="ajaxifyCart--qty">
      <input type="text" class="ajaxifyCart--num" value="{{itemQty}}" data-id="{{key}}" min="0" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--add" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</span>
      <span class="ajaxifyCart--qty-adjuster ajaxifyCart--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
  <script id="jsQty" type="text/template">
  {% raw %}
    <div class="js-qty">
      <input type="text" class="js--num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
      <span class="js--qty-adjuster js--add" data-id="{{key}}" data-qty="{{itemAdd}}">+</span>
      <span class="js--qty-adjuster js--minus" data-id="{{key}}" data-qty="{{itemMinus}}">-</span>
    </div>
  {% endraw %}
  </script>
