<div class="article-index desktop-4 tablet-3 mobile-3{% cycle ' first', '', ' last' %}" id="article-{{ article.id }}" data-alpha="{{ article.title }}">
  <div class="article-info">
    <div class="article-info-inner">
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      {% unless template == 'index' %}
      {% if section.settings.show_author %}
      <p class="posted">{{ article.author }}</p>
      {% endif %}
      {% endunless %}
      {% if section.settings.show_date %}
      {% assign published_at = article.published_at | date: format: 'month_date_year' %}
      <p class="posted">{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}</p>
      {% endif %}
      <div class="article-content">
        {% if article.image %}
          <a href="{{ article.url }}">
            {% include 'basic-responsive-image' | type: article.image %}
            <noscript>
              <img src="{{ article.image | img_url: '800x' }}" alt="{{ article.image.alt }}">
            </noscript>
          </a>
        {% endif %}
        <div class="clear"></div>
        {% if article.excerpt == blank %}
        {{ article.content | strip_html | truncate: 90 }}
        {% else %}
        {{ article.excerpt }}
        {% endif %}
      </div>
      {% if template != 'index' %}
      {% if article.tags.size > 0 %}
      <ul class="centered-tags">
        {% for tag in article.tags %}
        <li class="tags">
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="readmore">
        <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
