<a class="show mobile-3" href="#"><i class="fa fa-align-justify"></i></a>
<div class="desktop-3 tablet-4 tablet-push-1 mobile-3" id="sidebar">
  {% if collection.image %}
    <div class="collection-page-image">
      {% include 'basic-responsive-image', type: collection.image %}
      <noscript>
        <img src="{{ collection.image | img_url: '220x' }}" class="collection-sidebar-image">
      </noscript>
    </div>
  {% endif %}
  {% for block in section.blocks %}


  {% if block.type == 'vendor_list' %}
  {% if collection.handle == "all" %}
  <ul>
    <h4>{{ block.settings.shop_by_designer_title | escape }}</h4>
    {% for product_vendor in shop.vendors %}
    <li>{{ product_vendor | link_to_vendor  }}</li>
    {% endfor %}
  </ul>

  {% else %}

  <ul>
    <h4>{{ block.settings.shop_by_designer_title }}</h4>
    {% for product_vendor in collection.all_vendors %}
    <li class="{{ product_vendor | handelize }}">{{ product_vendor | link_to_vendor }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% else %}
<h4>{{ block.settings.title | escape }}</h4>
  <ul {{ block.shopify_attributes }}>
    {% for link in linklists[block.settings.side_nav].links %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>

  {% endif %}

  {% endfor %}
  <!-- Start Filtering -->
  <div id="side-filter">
    {% include 'dropdown-filter' %}
  </div>

  {% if section.settings.shop_by_designer %}
  <h4>{{ section.settings.shop_by_designer_title | escape }}</h4>
  {% if collection.handle == "all" %}
  <ul>
    {% for product_vendor in shop.vendors %}
    <li>{{ product_vendor | link_to_vendor  }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <ul>
    {% for product_vendor in collection.all_vendors %}
    <li class="{{ product_vendor | handelize }}">{{ product_vendor | link_to_vendor }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}
</div>
