<ul id="sort-me">
  {% if section.settings.sort_by %}
  <li class="clearfix filter">
    <select id="sort-by" class="styled-select">
      <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
      <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
      <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
      <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
      <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
      <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
      <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
      <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
    </select>
  </li>
  <script>
    Shopify.queryParams = {};
    if (location.search.length) {
      for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
        aKeyValue = aCouples[i].split('=');
        if (aKeyValue.length > 1) {
          Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
        }
      }
    }
    jQuery('#sort-by')
    .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
         .bind('change', function() {
      Shopify.queryParams.sort_by = jQuery(this).val();
      location.search = jQuery.param(Shopify.queryParams);
    });
    $(document).on('shopify:section:load', function(event) {
      jQuery('#sort-by')
      .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
           .bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams);
      });
    });
  </script>
  {% endif %}

  {% if section.settings.sort_dropdown_a_check %}
  <h4>{{ section.settings.filter_1_title }}</h4>
  <li class="clearfix filter">
    {% assign tags = section.settings.sort_a  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
    <ul>
      {% for tag in tags %}
      {% if current_tags contains tag %}
      <li class="current">{{ tag | link_to_remove_tag: tag }}</li>
      {% elsif collection.all_tags contains tag %}
      <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endif %}

  {% if section.settings.sort_dropdown_b_check %}
  <h4>{{ section.settings.filter_2_title }}</h4>
  <li class="clearfix filter">
    {% assign tags = section.settings.sort_b  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
    <ul>
      {% for tag in tags %}
      {% if current_tags contains tag %}
      <li class="current">{{ tag | link_to_remove_tag: tag }}</li>
      {% elsif collection.all_tags contains tag %}
      <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endif %}

  {% if section.settings.sort_dropdown_c_check %}
  <h4>{{ section.settings.filter_3_title }}</h4>
  <li class="clearfix filter">
    {% assign tags = section.settings.sort_c  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
    <ul>
      {% for tag in tags %}
      {% if current_tags contains tag %}
      <li class="current">{{ tag | link_to_remove_tag: tag }}</li>
      {% elsif collection.all_tags contains tag %}
      <li>{{ tag | link_to_add_tag: tag }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endif %}

</ul>

<script type="text/javascript" charset="utf-8">
  //<![CDATA[
  jQuery(function() {
    jQuery('ul#sortme li a').each(function() {
      if (jQuery(this).attr('href')  ===  window.location.pathname) {
        jQuery(this).addClass('current');
      }
    });
  });
  //]]>
</script>
