<div id="pagination" class="desktop-12 tablet-6 mobile-3">
  <span class="count">{{ 'general.pagination.showing_items' | t }} {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} {{ 'general.pagination.of' | t }} {{ paginate.items }}.</span>
  
  <div class="clear"></div> 

  {% if paginate.previous %}
  <div class="pagiprev">
    {{ '<i class="fa fa-caret-left"></i>' | link_to: paginate.previous.url }}
  </div>
  {% endif %}


  {% for part in paginate.parts %}
  {% if part.is_link %}
  {{ part.title | link_to: part.url }}
  {% else %}
  {% if part.title == '&hellip;' %}
  {{ part.title }}
  {% else %}
  <span class="current">{{ part.title }}</span>
  {% endif %}
  {% endif %}
  {% endfor %}


  {% if paginate.next %}
  <div class="paginext">
    {{ '<i class="fa fa-caret-right"></i>' | link_to: paginate.next.url }}
  </div>
  {% endif %} 
</div>