<div class="collection-list-section" data-section-id="{{ section.id }}" data-section-type="collection-list">

  {% if section.settings.image != blank %}
    <div class="collection-banner">
      {% include 'basic-responsive-image', type: section.settings.image %}
      <noscript>
        <img src="{{ section.settings.image | img_url: '1024x' }}" alt="{{ section.settings.image.alt }}">
      </noscript>
    </div>
  {% endif %}

  <div id="content" class="row">
    {% if settings.breadcrumb %}
    {% include 'breadcrumb' %}
    {% endif %}

    <div id="collection-description" class="desktop-12 tablet-6 mobile-3">
      <h1>{{ 'collections.general.all_collections' | t }}</h1>
      {% if section.settings.text != blank %}
      {{ section.settings.text }}
      {% endif %}
    </div>

      {% paginate collections by 48 %}
      {% if collections.size > 0 %}

      <div id="product-loop">
        {% assign products-per-row = section.settings.grid %}
        {% for collection in collections %}
        <div class="collection-index {% if products-per-row == 6 %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == 4 %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == 3 %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == 5 %}desktop-fifth{% cycle ' first', '', '', '', ' last' %}{% elsif products-per-row == 2 %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half" data-alpha="{{ collection.title }}" {{ block.shopify_attributes }}>
          {% include 'collection-grid-item' %}
        </div>
        {% endfor %}
      </div>

      {% else %}
      <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}
      {% include 'pagination' %}
      {% endpaginate %}

  </div>
</div>

{% schema %}
  {
    "name": "Collections list",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
    {
        "id": "text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Add some descriptive text to your all collections page.</p>"
     },
      {
        "type":      "range",
        "id":        "grid",
        "min":       2,
        "max":       4,
        "step":      1,
        "label":     "Collections per row",
        "default":   3
      },
      {
        "type": "checkbox",
        "id": "collection_count",
        "label": "Show collection product count"
      }
	]
  }
{% endschema %}
