<section id="image-{{ section.id }}" class="image-with-text-overlay index-section" data-section-id="{{ section.id }}" data-section-type="image-section">
  <div class="desktop-12 tablet-6 mobile-3">
    {%- if section.settings.image -%}
      <div class="image-wrapper lazyload lazyload-fade" data-bgset="{% include 'bgset', image: section.settings.image %} {% unless section.settings.full_width %}row{% endunless %}" data-sizes="auto">
        <div class="image-overlay">
          <h2>{{ section.settings.heading }}</h2>
          <p>{{ section.settings.subheading_text }}</p>
          {% if section.settings.link != blank and section.settings.button_text != blank %}
            <a class="button" href="{{ section.settings.link }}">{{ section.settings.button_text }}</a>
      		{% endif %}
        </div>
      </div>
    {%- else -%}
      <div class="image-wrapper {% unless section.settings.full_width %}row{% endunless %}">
        <div class="onboard plax-placehold">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="image-overlay">
          <h2>{{ section.settings.heading }}</h2>
          <p>{{ section.settings.subheading_text }}</p>

          {% if section.settings.link != blank and section.settings.button_text != blank %}
            <a class="button" href="{{ section.settings.link }}">{{ section.settings.button_text }}</a>
      		{% endif %}
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

<style>
  #image-{{ section.id }}.image-with-text-overlay .image-overlay h2 {
    font-size: {{ section.settings.heading_font_size }}px;
    font-weight: {{ section.settings.heading_font_weight }};
    color: {{ section.settings.heading_text_color }};
  }
  #image-{{ section.id }}.image-with-text-overlay .image-overlay p {
    font-size: {{ section.settings.subheading_font_size }}px;
    font-weight: {{ section.settings.subheading_font_weight }};
    color: {{ section.settings.subheading_text_color }};
  }
  #image-{{ section.id }}.image-with-text-overlay .image-overlay .button {
    background-color: {{ section.settings.button_color }};
    color: {{ section.settings.button_text_color }};
  }
  .no-js .image-with-text-overlay .image-wrapper {
    background-image: url({{ section.settings.image | img_url: '1024x' }});
    opacity: 1;
  }
</style>
{% schema %}
{
  "name": "Image with text overlay",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Overlay Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Image with Text Overlay"
    },
    {
      "type":      "range",
      "id":        "heading_font_size",
      "min":       12,
      "max":        36,
      "step":       1,
      "unit":       "px",
      "label":     "Heading size",
      "default":   30
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "Heading weight",
      "options": [
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "color",
      "id": "heading_text_color",
      "label": "Heading color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Overlay Text"
    },
    {
     "id": "subheading_text",
     "type": "textarea",
     "label": "Text",
     "default": "Pair text with a large full width image to give focus to areas of your store. Add a button to encourage clicks."
    },
    {
      "type":      "range",
      "id":        "subheading_font_size",
      "min":       12,
      "max":       22,
      "step":      1,
      "unit":      "px",
      "label":     "Text size",
      "default":   16
    },
    {
      "type": "select",
      "id": "subheading_font_weight",
      "label": "Text weight",
      "options": [
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "color",
      "id": "subheading_text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Overlay Button"
    },
    {
     "id": "button_text",
     "type": "text",
     "label": "Button text",
     "default": "Add a button",
     "info": "Visible only if a link is chosen"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button background",
      "default": "#000"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
